@model IEnumerable<GameStore.Domain.Entities.Game>

@{
    ViewBag.Title = "Admin panel: product list";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Hello: @User.Identity.Name  @Html.ActionLink("Log Out", "Login", "Account")</h5>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Game List (@ViewBag.Count)</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-left">GameId</th>
                <th class="text-center">ShortId</th>
                <th>Name</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Release Date</th>
                <th class="text-center">Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">@item.GameId</td>
                    <td class="text-center">@item.ShortId</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.GameId })</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">@item.Price.ToString("C")</td>
                    <td class="text-center">@item.ReleaseDate.ToShortDateString()</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("GameId", item.GameId)
                            @Html.AntiForgeryToken()

                            <input type="submit" class="btn btn-default btn-xs" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add Game", "AddGame", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Add Requirements", "AddRequirements", null, new { @class = "btn btn-default" })
    </div>
</div>
